<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview-Data</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.0/pdfmake.js"></script>
</head>
<body>
    <!-- <section class="header-report mt-3">
    </section> -->

    <section class="content-report">
        <div class="container mb-3">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-start mt-3">
                    <!-- <form action="/export" method="POST">
                        <button type="submit" onclick="tobeConfirm()" class="btn btn-default btn-sm">Convert to PDF</button>
                    </form> -->
                    <form action="/home">
                        <button id="gohome" type="submit" class="btn btn-sm btn-success">
                            Home
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="dvContainer" class="container mb-3 mt-3 h-100">
            {% for item in range(5) %}
            <div class="row">
                <div class="col-sm col-sm-12 text-center justify-content-center" style="display: inline-block;">
                    <h5 style="font-size: 1.1rem; margin:0">{{data[item]['seq_number']}}. {{data[item]['uptd_name']}} (Nama PD UPTD disini) </h5>
                    <p style="font-size: 0.9rem;">{{data[item]['address']}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm col-sm-6 d-flex justify-content-start" style="display: inline-block;">
                    <h5 style="font-size: 1.1rem;">A. Lintasarta</h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 40px;">
                <div class="col-sm col-sm-6 d-flex justify-content-center flex-grow-1" style="display: inline-block;">
                    <img src="{{data[item]['img_url']}}" width="100%" alt="{{data[item]['uptd_name']}}" style="width: 426px;border: 2px solid grey;height:206px;">
                </div>
                <div class="col-sm col-sm-6 d-flex justify-content-center flex-grow-1" style="display: inline-block; margin-top:35px">
                    <table class="table-fill">
                        <tbody class="table-hover">
                            <tr>
                                <td class="text-left">Speed Average</td>
                                <td class="text-left">{{data[item]['detail_data']['average_speed']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Uptime</td>
                                <td class="text-left">{{data[item]['detail_data']['uptime']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Downtime</td>
                                <td class="text-left">{{data[item]['detail_data']['downtime']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Bandwith</td>
                                <td class="text-left">{{data[item]['detail_data']['bandwith']}}</td>
                            </tr>
                        </tbody>
                     </table>        
                </div>
            </div>

            <div class="row">
                <div class="col-sm col-sm-6 d-flex justify-content-start" style="display: inline-block;">
                    <h5 style="font-size: 1.1rem;">B. Icon+ (Hardcode Data)</h5>
                </div>
            </div>
            <div class="row" style="margin-bottom: 70px;">
                <div class="col-sm col-sm-6 d-flex justify-content-center flex-grow-1" style="display: inline-block;">
                    <img src="{{data[item]['img_url']}}" width="100%" alt="{{data[item]['uptd_name']}}" style="width: 426px;border: 2px solid grey;height:206px;">
                </div>
                <div class="col-sm col-sm-6 d-flex justify-content-center flex-grow-1" style="display: inline-block; margin-top:35px">
                    <table class="table-fill">
                        <tbody class="table-hover">
                            <tr>
                                <td class="text-left">Speed Average</td>
                                <td class="text-left">{{data[item]['detail_data']['average_speed']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Uptime</td>
                                <td class="text-left">{{data[item]['detail_data']['uptime']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Downtime</td>
                                <td class="text-left">{{data[item]['detail_data']['downtime']}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Bandwith</td>
                                <td class="text-left">{{data[item]['detail_data']['bandwith']}}</td>
                            </tr>
                        </tbody>
                     </table>        
                </div>
            </div>
            {% endfor %} 
        </div>

        <div class="container mb-3">
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center mb-3">
                    <!-- <form action="/export" method="POST">
                        <button type="submit" onclick="tobeConfirm()" class="btn btn-default btn-sm">Convert to PDF</button>
                    </form> -->
                    <button id="btnPrint" type="button" class="btn btn-sm btn-primary">
                        <i class="fas fa-download"></i> Generate PDF
                    </button>
                </div>
            </div>
        </div>

    </section>
    <script type="text/javascript">
        $("#btnPrint").on("click", function () {
            if (confirm('Are you sure to print this page?')) {
                // Save it!
                var divContents = $("#dvContainer").html();
                var printWindow = window.open('', '', 'height=800,width=800');
                printWindow.document.write('<html><head><title></title>');
                printWindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">');
                printWindow.document.write('<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>');
                printWindow.document.write('<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">');
                printWindow.document.write('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">');
                printWindow.document.write('</head><body>');
                printWindow.document.write(divContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
                printWindow.onafterprint = function(){
                    printWindow.close()
                }
                
            } else {
            // Do nothing!
            console.log('Oke then, its ok not to be ok');
            }
        });
    </script>
</body>
</html>